*{
    margin:0;
    padding:0;
}

.container{
    background:none;
    height:100vh;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: green
}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
}

.navbar ul{
    float:right;
    margin-right: 20px;
    
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    margin:0 8px;
    line-height: 80px;
}

.navbar ul li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    transition: 1s;
}

.navbar ul li .activepage{
    background: #ff6e00;
    border-radius: 3px;
}
.navbar ul li a:hover{
    background: #ff6e00;
    border-radius: 2px;
}

.footerContainer{
    display: inline-block;
    background-color: rgb(27, 26, 26);
    height: 8%;
    width: 100%;
}

.yapimci{
    color:white;
    margin-top: 5px;
}

.footcol{
    float: left;
    margin-top: 2px;
    margin-left: 4%;
    width: 10%;
}

.footerContainer a{
    text-decoration: none;
    background:none;
    border-top: solid white 1px;
    color:white;
    font-size: 15px;
    margin-left: 20%;
    padding: 0px 5px;
}

.personalInfo{
    margin-left: 5%;
    display: inline-block;
    background: none;
    width: fit-content;
}

.education{
    float: right;
    background: none;
    width: fit-content;
    
}

.wrapper{
    font-size: 20px;
    margin-top: 20px;
}

.bas{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


* {box-sizing:border-box}

/* slider container */
.slideshow-container {
  max-width: 1000px;
  margin-top: 2%;
  margin-left: 12%;
  position: relative;
}

.slideshow-container img{
    max-height: 450px;
    border: 2px solid black;
    border-radius: 10px;
}


/* yazi */
.text {
  color: black;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* gecis animasyonu */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.zilkale {
    float: left;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 100px;
    max-height: 450px;
}

#zilkale{
    margin-top: 2%;
}

#cayBardagi{
    margin-top: 2%;
}

.bardak{
    float: left;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 30px;
    max-height: 450px;
}

.miras h4{
    float: left;
    margin-left: 5px;
    font-size: 47px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.miras p{
    float: left;
    margin-left: 5px;
    font-size: 21px;
    max-width: 600px;
}
.mirascol{
    float: left;
    margin-top: 20px;
    width: 35%;
    margin-left: 200px;
}


.mirascol h4{
    float: left;

}

.col {
    float: left;
    margin-top: 20px;
    width: 17%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.col h4{
    text-decoration:underline;
    font-size: 22px;
    max-width: 600px;
}

#rizeBuyuk{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 25%;
}

.col p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.col ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.about{
    background: none;
}

.bilgi h2{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 25px;
    margin-left: 20%;
    margin-top: 50px;
}

.bilgi img{
    float:left;
    margin-left: 70px;
    border:2px solid black;
}

.bilgi p{
    margin-left: 20%;
    max-width: 340px;
    font-size: 18px;
}

.col1{
    width: 1%;
    float: left;
    margin-left: 8%;
    margin-top: 2%;
}

.bilgi{
    background-color:green;
}

.form{
    margin-left: 40%;
    margin-top: 5px;
}

.form h4{
    font-size: 20px;
}

.form input[type=text]{
    width: 30%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.form input[type=email]{
    width: 30%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.form input[type=password]{
    width: 30%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.form input[type=radio]{
    width: 2%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.form select{
    width: 30%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.form option{
    font-size: 18px;
}
.form input[type=reset]{
    width: 10%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.form input[type=submit]{
    width: 10%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form textarea{
    padding: 5px 20px;
}

.form .onay{
    font-size: 10px;
}

.sikayet h3{
    margin-top: 5px;
    margin-left: 40%;
}

.loginform{
    margin-left: 40%;
    margin-top: 5px;
}

.loginform input[type="text"]{
    width: 260px;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}
.loginform input[type="password"]{
    width: 260px;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}

.loginform input[type=reset]{
    width: 10%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.loginform input[type=submit]{
    width: 10%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.logcol{
    float: left;
    margin-top: 20px;
    width: 28%;
}



@media screen and (max-width:768px){
.container{
    width: 100%;
}

/*navbar*/ 
   

    .navbar ul{
        width: 100%;
    }
    
    .navbar ul li{
        max-height: fit-content;
        background: none;
        size: 20px;
    }
    .navbar ul li a{
        font-size: 12px;
        margin-left: 2px;
        
    }
/*footer*/
    .footerContainer{
        width: 100%;
    }

    .footcol{
        width: 100%;
        max-width: 23px;
        font-size: 25px;
        margin-left: 80px;
    }

    /*login*/

    .logcol{
        width: 50%;
    }
    .loginform{
        margin-left: 12%;
        width: 80%;
     }
     .loginform h4{
         width:100%;
         font-size: 15px;
     }
     .loginform input[type=text]{
         width: 99%;
       padding: 5px 10px;
       margin: 2px 0;
       box-sizing: border-box;
     }
     .loginform input[type="password"]{
        width: 49%;
        padding: 5px 10px;
        margin: 2px 0;
        box-sizing: border-box;
     }
     .loginform input[type="submit"]{
         width: 100px;
     }
 
     .loginform input[type="reset"]{
         width: 100px;
     }

    /*iletisim*/
    .form{
       margin: auto;
       margin-left:10px ;
       width: 96%;
    }
    .form h4{
        width:100%;
        font-size: 15px;
    }

    .form input[type=radio]{
        width: 10px;
    }
    .form input[type=text]{
        width: 50%;
      padding: 5px 10px;
      margin: 2px 0;
      box-sizing: border-box;
    }

    .form textarea{
        width: 60%;
    }

    .form input[type="submit"]{
        width: 100px;
    }

    .form input[type="reset"]{
        width: 100px;
    }

    /*mirasımız*/

    .mirascol{
        margin-left: 10px;
        width: 96%;
    }
    .zilkale{
        margin-left: 20px;
    }
    .mirascol h4{
        font-size: 19px;
    }
    .mirascol p{
        font-size: 17px;
    }

    /*sehrim*/

    .slideshow-container{
        width: 100%;
        
        max-height: 260px;
        margin: 120px;
        margin-left: 0px;
        padding: 2px;
    }
   
    .mySlides.fade{
        max-height: 200px;
        margin-top: 180px;
        
    }
    .mySlides.fade img{
        max-height: 200px;
    }

    .text{
        font-size: 16px;
        text-align: center;
        width: 90%;
        margin-bottom: 70px;
        margin-left: 5px;
    }
    
    #rizeBuyuk{
        font-size: 22px;
        margin-left: 2px;
        text-decoration: none;
        border: 1px solid black;
    }
    .row h4{
        font-size: 20px;
    }
    .col{
        margin-left: 18px;
    }
/*ozgecmis*/

    .personalInfo{
        margin-left: 26px;
    }
    .wrapper h1{
        font-size: 28px;
    }


}